.app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.connect {
  color: black;
  font-size: 15px;
  line-height: 16px;
  margin-top: 20px;
}

.email {
  text-decoration-line: underline;
  font-weight: 500;
  color: #e74412;
}
