:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: rgb(244, 217, 45);
}

body {
  display: flex;
  place-items: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
